<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="欢迎联系我们！">
    <meta name="author" content="非凡大师小组">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title>Newspaper</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
{#    <link rel="stylesheet" href="/static/font-awesome-6.5.1/css/all.min.css"/>#}

    <!-- Owl Carousel Assets -->
    <link href="/static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/static/owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/static/font-awesome-4.4.0/css/font-awesome.min.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="/static/js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="/static/js/bootstrap.min.js"></script>

</head>
<style>
    .item img {
        width: 250px;
        height: 200px;
    }
</style>
<body>
<header>
    <!--Top-->
    <nav id="top">

        <div class="text">
            <div style="text-align: center;"><strong>欢迎您来到阿富汗国情小站！在这里，我们将携手探索阿富汗的多元文化、悠久历史和自然风光！
                我们的宗旨为打破界限、架起桥梁，通过丰富多彩的内容，将阿富汗的政治经济文化外交等内容呈现在您的眼前。
                我们的目标是促进文化交流，增进人与人之间的理解与友谊</strong></div>
        </div>
    </nav>
    <!--Navigation-->
    <nav id="menu" class="navbar container">
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            <a class="navbar-brand" href="#">
                <div class="logo"><span>阿富汗国情小站</span></div>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Afghanistan/"><i class="fa fa-home"></i> 首页</a></li>
                <li><a href="/Afghanistan/history/"><i class="fa fa-history"></i> 历史</a></li>
                <li><a href="/Afghanistan/culture/"><i class="fa fa-globe"></i> 文化</a></li>
                <li><a href="/Afghanistan/diplomacy/"><i class="fa fa-users"></i> 外交</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">更多<i
                        class="fa fa-arrow-circle-o-down"></i></a>
                    <div class="dropdown-menu">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                <li><a href="/Afghanistan/message/">人口信息</a></li>
                                <li><a href="/Afghanistan/map/">地图</a></li>
                                 <li><a href="https://zh.wikipedia.org/wiki/%E9%98%BF%E5%AF%8C%E6%B1%97">百科</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="/Afghanistan/contact/"><i class="fa fa-comments"></i> 联系我们</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="featured container">
    <div id="owl-demo" class="owl-carousel">
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <p>阿富汗</p>
                </div>
                <img src="/static/images/1.jpg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <p>阿富汗</p>
                </div>
                <img src="/static/images/2.jpg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <p>阿富汗</p>
                </div>
                <img src="/static/images/3.jpg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    {#                    <i class="fa fa-picture-o fa-5x" style="color: #fff"></i>#}
                    <p>阿富汗</p>
                </div>
                <img src="/static/images/8.jpg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <p>阿富汗</p>
                </div>
                <img src="/static/images/9.jpg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">

                    <p>阿富汗</p>
                </div>
                <img src="/static/images/10.jpg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <p>阿富汗</p>
                </div>
                <img src="/static/images/11.jpg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <p>阿富汗</p>
                </div>
                <img src="/static/images/12.jpg"/>
            </div>
        </div>
    </div>
</div>
<!-- Header -->

<!-- /////////////////////////////////////////Content -->
<div id="page-content" class="archive-page container">
    <div class="row">
        <div id="address" class="col-md-12">
            <div class="social-media-bar">
                <div class="wrapper">
                    <a href="#" class="button">
                        <div class="icon">
                            <i class="fa-brands fa-weibo" style="color: #f90101;"></i>
                        </div>
                        <span>weibo</span>
                    </a>
                    <a href="#" class="button">
                        <div class="icon">
                            <i class="fa-brands fa-tiktok" style="color: #080707;"></i>
                        </div>
                        <span>tiktok</span>
                    </a>
                    <a href="#" class="button">
                        <div class="icon">
                            <i class="fa-brands fa-bilibili" style="color: #FB7299;"></i>
                        </div>
                        <span>bilibili</span>
                    </a>
                    <a href="#" class="button">
                        <div class="icon">
                            <i class="fab fa-github" style="color: #050404;"></i>
                        </div>
                        <span>Github</span>
                    </a>
                    <a href="#" class="button">
                        <div class="icon">
                            <i class="fab fa-youtube" style="color: #ff0000;"></i>
                        </div>
                        <span>YouTube</span>
                    </a>
                    <a href="#" class="button">
                        <div class="icon">
                            <i class="fa-brands fa-facebook-f" style="color: #4267B2"></i>
                        </div>
                        <span>Facebook</span>
                    </a>
                    <a href="#" class="button">
                        <div class="icon">
                            <i class="fab fa-twitter" style="color: #1DA1F2"></i>
                        </div>
                        <span>Twitter</span>
                    </a>
                    <a href="#" class="button">
                        <div class="icon">
                            <i class="fab fa-instagram" style="color: #E1306C"></i>
                        </div>
                        <span>Instagram</span>
                    </a>
                </div>
            </div>
        </div>
        <div id="main-content" class="col-md-8">
            <div class="box">
                <div style="text-align: center;">
                    <div class="box-header">
                        <h1 class="center">联系我们</h1>
                    </div>
                </div>
                <div class="box-content">
                    <div id="contact_form">
                        <form name="form1" id="submission" method="post" action="/submit">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">姓名:</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="姓名"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="email">邮箱:</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="邮箱"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="message">内容:</label>
                                <textarea name="message" id="message" rows="4" cols="25" class="form-control"
                                          placeholder="谈谈你的看法" required></textarea>
                            </div>
                            <div style="text-align: center;">
                                <button class="btn btn-primary" type="submit" name="Submit" onclick="submitForm()">
                                    反馈
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar" class="col-md-4">
            <div class="widget wid-follow">
                <div class="heading">
                    <h4>Follow Us</h4>
                </div>
                <div class="content">
                    <img src="/static/images/banner.jpg" alt=""/>
                    <img src="/static/images/banner-2.jpg" alt="">
                    <img src="/static/images/banner-3.jpg" alt="">
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<footer>
    <div class="wrap-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-footer footer-1">
                    <div class="footer-heading">
                        <h1><span style="color: #fff;">阿富汗国情小站</span></h1>
                    </div>
                    <div class="content">
                        <h6><span style="color: #fff;">留下您的电子邮箱,我们会联系您</span></h6>
                        <form id="email-form" method="post" action="/process_form">
                            {% csrf_token %}
                            <label>邮箱：<input type="email" name="email" required
                                               placeholder="请输入您的邮箱地址"></label>
                            <input type="button" value="提交" class="btn btn-3" onclick="process_form()">
                        </form>

                    </div>
                </div>
                <div class="col-md-4 col-footer footer-2">
                    <div class="footer-heading">
                        <h4>阿富汗标签</h4>
                    </div>
                    <div class="content">
                        <a href="#">塔利班</a>
                        <a href="#">战争</a>
                        <a href="#">经济</a>
                        <a href="#">局势</a> <br>
                        <a href="#">喀布尔协议</a>
                        <a href="#">难民</a>
                        <a href="#">国情</a> <br>
                        <a href="#">女性地位</a>
                        <a href="#">合作</a>
                        <a href="#">联系</a> <br>
                        <a href="#">关系</a>
                        <a href="#">各国关联</a>
                        <a href="#">伙伴</a>
                        <a href="#">同盟</a> <br>
                        <a href="#">视频新闻</a>
                    </div>
                </div>
                <div class="col-md-3 col-footer footer-3">
                    <div class="footer-heading">
                        <h4>友情链接</h4>
                    </div>
                    <div class="content">
                        <ul>
                            <li><a href="#">国家建设</a></li>
                            <li><a href="#">最新掌控</a></li>
                            <li><a href="#">情报局</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <p>版权所有 &copy; 2024 - 阿富汗国情小站</p>
    </div>
</footer>

</body>
<!-- JS -->
<script src="/static/owl-carousel/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            autoPlay: 3000,
            items: 5,
            itemsDesktop: [1199, 4],
            itemsDesktopSmall: [979, 4]
        });

    });
</script>
<script>
    // 定义一个函数，用于异步提交表单
    function process_form() {
        // 获取表单元素
        var form = document.getElementById("email-form");
        // 创建一个 FormData 对象，用于存储表单数据
        var formData = new FormData(form);
        // 创建一个 XMLHttpRequest 对象，用于发送请求
        var xhr = new XMLHttpRequest();
        // 设置请求的方法和地址
        xhr.open("POST", form.action);
        // 设置请求的回调函数
        xhr.onload = function () {
            // 如果请求成功
            if (xhr.status === 200) {
                // 弹出一个提示框，显示返回的数据
                alert(xhr.responseText);
            }
        };
        // 发送请求
        xhr.send(formData);
    }
</script>
<script>
    function submitForm() {
        // 阻止表单默认提交行为
        event.preventDefault();
        var form = document.getElementById("submission");
        var formData = new FormData(form);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", form.action);
        xhr.onload = function () {
            // 如果请求成功
            if (xhr.status === 200) {
                // 解析返回的 JSON 数据
                var response = JSON.parse(xhr.responseText);
                // 根据返回的状态和信息显示相应的提示框
                if (response.status === 'success') {
                    alert('反馈成功！');
                } else {
                    alert('反馈失败！');
                }
            }
        };
        xhr.send(formData);
    }
</script>
</html>
